{% extends "includes/colornav.html" %}

{% block body %}


<div class="row" style="margin-top: 5%;">
    <div class="center col-md-6 col=sm-3 offset-md-4 offset-sm-3" h>
        <a class="btn btn-danger" href="{% url 'article:addarticle' %}">Add Article </a>
        <hr>
        {% if articles %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">History</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <th scope="row">{{article.id}}</th>
                    <td><a href="{% url 'article:detail' article.slug %}">{{article.title}}</a></td>
                    <td>{{article.author.username}}</td>
                    <td>{{article.created_date}}</td>
                    <td><a href="{% url 'article:update' article.slug %}" class="btn btn-danger">Update</a></td>
                    <td><a href="{% url 'article:delete' article.slug %}" class="btn btn-danger">Delete</a> </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}

        <div class="alert alert-danger">
            You dont have any articles yet...

        </div>
        {% endif %}
    </div>
</div>

{% endblock body %}